<h1>I'm inside of server component</h1>

<p>{{'Server'}} with the id {{serverid}} status as follows {{serverstatus}}, we can get the result from a method too {{getServerStatus()}} </p>

<hr>
<label for="">Server Name</label>
<input type="text" class="form-control" (input)="onServerUpdate($event)">
<hr>
<input type="text" class="form-control" [(ngModel)]="serverName">

<p>{{serverName}}</p>


<button class="btn btn-primary" [disabled] = "!allowNewServer" (click)="onServerCreation()">Add server</button>
<p>{{serverCreationStatus}}</p>


